@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}
body {
    /* background-color: #f4f4f4; */
    background-color: #dfd5d5;
}
/* HEADER */
.overlay {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a {
    text-decoration: none;
    color: #818181;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

header {
    background-color: white;
    height: 9vh;
    width: 100%;
}

#logo {
    height: 7vh;
    margin: 10px 7px auto auto;
    float: right;
    border-radius: 50px;
}

.menu-btn {
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}

/* .overlay-content {
    display: none;
    background-color: #dfd5d5;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */



.dropdown-menu:hover .menu-content {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* COVER PAGE */

.coverpage {
    background-image: url(pic4.jpg);
    background-size: cover; 
    width: 100vw;
    height: 70vh;
    z-index: -1;
    color: white;
    font-size: 3em;
    text-align: left;

}

.coverpage-p1 {
    padding-top: 20vh;
    padding-bottom: auto;

}

.coverpage p {
    padding-left: 40px;
}

/* About */
.about {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    margin-top: 7em;
}

.about-pic img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0 ;
}

.about-content {
    text-align: center;
    padding: 20px;
    line-height: 2em;
}

.about-content p {
    padding: 0 10vw;
}

/* Services */
#service-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 2em;
    margin-top: 4em;
}
.box {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 10px 40px 30px 40px;
    padding: 20px;
    height: auto;
}

.box img {
    width: 100%;
}

.box a {
    display: inline-block;
    border: 1px;
    text-decoration: none;
    color: white;
    background-color: #76323F;
    padding: 10px;
    margin-bottom: 10px;
}

/* contact */
.section-d {
    margin: 5px 15px;
}
.contact-title {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    text-decoration-color: white;
    margin-top: 4em;
}

.contact-form {
    background-color: white;    
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-box {
    display: inline-block;
}

.contact-box label {
    display: block;
    font-size: 1.3rem;
    text-align: left;
}

.contact-box input {
    font-size: 1.3em;
    height: 2em;
    width: 75vw;
    border-radius: 20px;
    border: 2px solid #565656;
    margin: 10px auto;
    display: block;
    padding-left: 10px;
}

#message {
    width: 75vw;
    height: 15vh;
    padding-left: 10px;
    border-radius: 20px;
    border: 2px solid #565656;
    margin: 10px auto;
    display: block;
    font-size: 1.3em;
}

#submitBtn {
    border-radius: 10px;
    background-color: #76323F;
    color: white;
    font-size: 1.3em;
    padding: 10px 20px;
}
.contact-info {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-info-box {
    margin-bottom: 20px;
}

/* Footer */

.site-footer {
    background-color: #565656;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Media Queries */

/* if [device width] is greater than or equal to 750px, then do... */

@media only screen and (min-width: 750px) {
        /* About */
    .about {
        background-color: white;
        border-radius: 20px;
        margin: 7em 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;

    }

    .about-pic {
        background-image: url(pic1.jpg);
        background-size: cover;  
        border-radius: 20px 0 0 20px;
    }

    .about-pic img {
        display: none;
    }

    .about-content {
        text-align: left;
        padding: 30px;
        line-height: 2em;
        margin: auto;
    }

    .about-content p {
        padding: 0;
    }
    
    
        /* Services */

    #service-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 70vw;
        height: 35vh;
        margin-left: 15vw;
    
    }
    .box {
        background-color: white;
        border-radius: 20px;
        text-align: center;
        margin: 10px 15px 30px 15px;
        padding: 20px;
        height: auto;
    }

        /* contact */
    
    .section-d {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 2em 15px;
    }

    .contact-form {
        width: 50vw;
        margin: 0;
        justify-self: right;
    }

    .contact-box {
        padding: 10px 20px;
    }

    .contact-box input {
        height: 2em;
        width: 300px;
        border-radius: 20px;
        border: 2px solid #565656;
        margin: 5px auto;
        display: block;
        padding-left: 10px;
    }
    .contact-info {
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        margin: 0 auto auto 10px;
        width: 200px;
        justify-self: left;
    }

    #message {
        width: 300px;
        height: 15vh;
        padding-left: 10px;
        border-radius: 20px;
        border: 2px solid #565656;
        margin: 10px auto;
        display: block;
    }
    .contact-info-box {
        margin-bottom: 20px;

    }

    /* contact */




}

@media only screen and (min-width: 1024px) {
    
    .about {
        background-color: white;
        border-radius: 20px;
        width: 70vw;
        height: 50vh;
        margin-top: 7em;
        margin-left: 15vw;
    }

   /* #service-gallery {
       width: 70vw;
       height: 35vh;
       margin-left: 15vw;
   } */

   .contact-form {
        width: 40vw;
        height: 85vh;
    }

    .contact-box label {
        display: block;
        font-size: 1.5em;
        text-align: left;
    }

    .contact-box input {
        height: 2em;
        font-size: 1.2em;
        width: 35vw;
        border-radius: 20px;
        border: 2px solid #565656;
        margin: 10px auto;
        display: block;
        padding-left: 10px;
    }
    
    #message {
        width: 35vw;
        height: 15vh;
        font-size: 1.2em;
        padding-left: 10px;
        border-radius: 20px;
        border: 2px solid #565656;
        margin: 10px auto;
        display: block;
    }
}

@media only screen and (min-width: 1440px) {
    .contact-form {
        height: 85vh;
    }
}

